<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{/fragments/header::header-prop}"></div>
</head>
<body class="fixed-sn light-blue-skin">

<div class="container my-2">
    <div th:replace="~{/fragments/header::header}"></div>
            <div  class="container my-5" th:switch="${customers}">
                <div class="col-md-10" >

                    <h2 th:case="null">Not found !!</h2>
                    <div class="card-body" th:case="*">
                     <form autocomplete="off" th:action="@{/customer/search}" class="form-inline mt-2 mt-md-0" method="post" >
                         <input class="form-control mr-sm-2" name="customerAddress" type="text" placeholder="Search" aria-label="Search">
                         <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search"/>
                     </form><br>
                        <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th><i class="fa fa-id-card" aria-hidden="true"></i></th>
                                <th>address</th>
                                <th>country</th>
                                <th>phoneNumber</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr  th:each="customer: ${customers}">
                                  <td th:text="${customer.id}"></td>
                                  <td th:text="${customer.address}"></td>
                                  <td th:text="${customer.country}"></td>
                                  <td th:text="${customer.phoneNumber}"></td>
                                  <td>
                                      <a th:href="@{/customer/edit/{id}(id=${customer.id})}"  class="btn btn-primary btn-lg btn-block">
                                          <i class="fas fa-edit "></i>
                                      </a>
                                  </td>
                                  <td>
                                      <a th:href="@{/customer/delete/{id}(id=${customer.id})}" class="btn btn-danger btn-lg btn-block">
                                          <i class="fa fa-trash" aria-hidden="true"></i>
                                      </a>
                                  </td>
                              </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

</div>
</body>
</html>